.video-banner {
    position: relative;
    margin: 0px;
    padding: 0px;
    height: auto;
    display: block;
    width: 100%;
    z-index: 1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-capa {
    color: white;
    font-size: 2rem; /* Ajuste o tamanho conforme necessário */
    text-align: center;
}

  .container-lg {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .row {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
    will-change: transform;
  }

  .col-sm-6 {
    flex: 0 0 auto;
  }
  
  .br-card {
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    position: relative;
    width: 100%;
    height: auto;
  }

  .grabbing {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
 

  
